This is a conversion of Jim Breen's JMdict[1] to JIS X 4081 format (an EPWING subset[2]) by Hannes Loeffler <hal@hloeffler.info>.  The code of the conversion script is based on work by Kazuhiko Shiozaki[3] using the FreePWING library[4].  French entries by Jean-Marc Desperrier, Russian version (JR-EDICT) by Oleg V. Volkov <jr-edict@mail.ru>.

The dictionary can be searched in both directions but keep in mind that JMdict is basically a Japanese-English dictionary.  Hence, the automatic reverse indexing yields an unordered list of Japanese words and a reverse lookup might be necessary.  A search can be carried out by kanji, kana, and (optionally set at compile time) romaji.

%VERSION%

---
[1] http://www.csse.monash.edu.au/~jwb/edict.html
[2] http://www.epwing.or.jp/
[3] http://openlab.ring.gr.jp/edict/fpw/
[4] http://www.sra.co.jp/people/m-kasahr/freepwing/
